<launch>
    <node pkg="udr_pkg" type="udr_motion_sensor_node" name="control_pub" output="screen">
    </node>
    <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node" output="screen">
    </node>
    <node name="joy_node" pkg="joy" type="joy_node" output="screen">
    </node>
     
</launch>
